* {
    list-style: none;
    text-decoration: none;
  
}

main { width: 700px;}

#question {
    width: 500px;
    height: 20px;
}

#question2 {
    width: 500px;
    height: 300px;
}

h1 { display: inline;}

p { display: inline;
    position: relative;
    left: 130px;
font-size: small;
}

