#header {
    height: 200px;
    background-color: mediumspringgreen;
    margin-bottom: 10px;
}


#title {
    width: 400px;
    height: 100px;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: blue;
    margin: auto;
    
    
    
}

#body {
    height: 500px;
    
} 

    #body > .content-box {
        display: flex;

    } 

#aside {
    width: 20%;
    height: 500px;
    margin-left: auto;
    background-color: mediumvioletred;
    margin-left: 10px;
}

#main {
    width: 80%;
    height: 500px;
    background-color: midnightblue;
}

#footer {
    height: 100px;
    margin-top: 10px;
    background-color: moccasin;
}